<h1>Add an Artist</h1>

<form action="/artists" method="post">
  <label for="name">Artist name</label>
  <input type="text" name="name" id="name">
  <button type="submit" class="btn">Add Artist</button>
</form>
